header, .project:not(:last-child) {
  background-color: rgb(29, 23, 23);
  padding: 20px;
  padding-left: 40px;
  padding-bottom: 10px;
}

h1 {
  font-size: xx-large;
  font-family:'Trebuchet MS';
  color: rgb(101, 170, 147);
}
nav a {
  margin-right: 50px; 
  font-size: large;
  color: rgb(101, 170, 147);
  text-decoration: none;
  font-family: 'Courier New', Courier, monospace;
}

#logout {
  margin-right: 50px; 
  font-size: large;
  color: rgb(101, 170, 147);
  text-decoration: none;
  border: none;
  padding: 0px;
  background: rgb(29, 23, 23);
  font-family: 'Courier New', Courier, monospace;
}

.body-background {
  background-color:rgb(192, 221, 211); 
}


body {
  margin: 0px;
}

.new-post-button {
  position: fixed;
  bottom: 20px; /* Adjust this value to position it higher or lower */
  left: 50%; /* Center the button horizontally */
  transform: translateX(-50%); /* Adjust to center the button perfectly */
  z-index: 999; /* Ensure it's above other content */
  background-color:  rgb(101, 170, 147);
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  margin-bottom: 20px;
}

.new-post-form {
  display: none; /* Initially hide the form */
  border: 2px solid rgb(29, 23, 23);
  border-radius: 5px;
  margin: 20px;
  background-color: rgb(192, 221, 211); /* Set your desired background color */
}

.new-post-form h3 {
  font-size: 18px;
  margin-top: 0;
  font-weight: normal;
  background-color: rgb(29, 23, 23);
  color: rgb(101, 170, 147);
  padding: 10px;
}

.new-post-form label {
  color: rgb(29, 23, 23);
}

.new-post-form .form-input {
  width: 100%;
  padding: 10px;
  margin-top: 10px;
  margin-bottom: 10px;
  border: 1px solid rgb(29, 23, 23);
  border-radius: 5px;
  box-sizing: border-box;
}

.new-post-form .btn-primary {
  background-color: rgb(101, 170, 147);
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  margin-bottom: 20px;
}

.new-post-form .btn-primary:hover {
  background-color: rgb(75, 128, 110);
}

.new-post-form .form-group {
  padding: 20px;
  padding-top: 0px;
  padding-bottom: 0px;
  margin: 10px;
}

.dash-box {
  border: 1px solid rgb(29, 23, 23);
  border-radius: 8px;
  padding: 10px;
  margin-bottom: 10px;
  margin-left: 20px;
  margin-right: 20px;
  margin-top: 20px;
  background-color: rgb(29, 23, 23);
}

.dash-content {
  overflow: hidden; /* Clearfix */
}

.dash-title {
  float: left;
  margin: 0px;
  color: rgb(129, 177, 161);
  font-family: Courier;
  font-weight:normal
}

.dash-title:hover {
  cursor: pointer;
}

.dash-date {
  float: right;
  margin: 0px;
  color: rgb(129, 177, 161);
}

.edit-post-form {
  border: 2px solid rgb(29, 23, 23);
  border-radius: 5px;
  margin: 20px;
  background-color: rgb(192, 221, 211); /* Set your desired background color */
}

.edit-post-form h3 {
  font-size: 18px;
  margin-top: 0;
  font-weight: normal;
  background-color: rgb(29, 23, 23);
  color: rgb(101, 170, 147);
  padding: 10px;
}

.edit-post-form label {
  color: rgb(29, 23, 23);
}

.edit-post-form .form-input {
  width: 100%;
  padding: 10px;
  margin-top: 10px;
  margin-bottom: 10px;
  border: 1px solid rgb(29, 23, 23);
  border-radius: 5px;
  box-sizing: border-box;
}

.edit-post-form .btn-primary {
  background-color: rgb(101, 170, 147);
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  margin-bottom: 20px;
}

.edit-post-form .btn-danger {
  background-color: rgb(101, 170, 147);
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  margin-bottom: 20px;
}

.edit-post-form .btn-primary:hover {
  background-color: rgb(75, 128, 110);
}

.edit-post-form .form-group {
  padding: 20px;
  padding-top: 0px;
  padding-bottom: 0px;
  margin: 10px;
}

.post-box {
  border: 2px solid rgb(29, 23, 23);
  border-radius: 5px;
  margin: 20px;
}

.post-header {
  margin-bottom: 10px;
  overflow: hidden;
  background-color: rgb(29, 23, 23);
  padding-top: 10px;
  padding-left: 10px;
  padding-right: 10px;
}

.post-title {
  font-size: 18px;
  margin-top: 0;
  float: left;
  font-weight: normal;
}

h2 a {
  text-decoration: none;
  color: rgb(101, 170, 147);
  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.post-info {
  font-size: 14px;
  color: rgb(101, 170, 147);
  padding-top: 4px;

}

.post-info-right {
  float: right;
}

.post-content {
  clear: both;
  padding-bottom: 10px;
  padding-left: 10px;
  padding-right: 10px;
}

.postid-header {
  margin-bottom: 10px;
  overflow: hidden;
  background-color: rgb(29, 23, 23);
  padding: 10px;
  padding-bottom: 15px;
}

.postid-title {
  font-size: 18px;
  font-weight: normal;
  margin-top: 0;
  float: left;
  text-decoration: none;
  color: rgb(101, 170, 147);
  margin-bottom: 0px;
  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.postid-info {
  font-size: 14px;
  color: rgb(101, 170, 147);
  margin: 0px;
  padding-top: 4px;
}

.postid-info-right {
  float: right;
}

.login-page {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.login-form,
.signup-form {
  border: 2px solid rgb(29, 23, 23);
  border-radius: 5px;
  margin: 20px;
  background-color: rgb(192, 221, 211); /* Set your desired background color */
  width: 1000px;
}

.login-form h2,
.signup-form h2 {
  font-size: 18px;
  margin-top: 0;
  font-weight: normal;
  background-color: rgb(29, 23, 23);
  color: rgb(101, 170, 147);
  padding: 10px;
}

.login-form label,
.signup-form label {
  color: rgb(29, 23, 23);
}

.login-form .form-input,
.signup-form .form-input {
  width: 100%;
  padding: 10px;
  margin-top: 10px;
  margin-bottom: 10px;
  border: 1px solid rgb(29, 23, 23);
  border-radius: 5px;
  box-sizing: border-box;
}

.login-form .btn-primary,
.signup-form .btn-primary {
  background-color: rgb(101, 170, 147);
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  margin-bottom: 20px;
}

.login-form .btn-primary:hover,
.signup-form .btn-primary:hover {
  background-color: rgb(75, 128, 110);
}

.login-form .form-group,
.signup-form .form-group {
  padding: 20px;
  padding-top: 0px;
  padding-bottom: 0px;
  margin: 10px;
}

.card {
  border: 2px solid rgb(29, 23, 23);
  border-radius: 5px;
  margin: 20px;
  background-color: rgb(192, 221, 211);
}

.card-header {
  font-size: 18px;
  margin-top: 0;
  font-weight: normal;
  background-color: rgb(29, 23, 23);
  color: rgb(101, 170, 147);
  padding: 15px;
}

.card-body {
  padding: 20px;
  padding-top: 10px;
}

.card-body .form-label {
  color: rgb(29, 23, 23);
  margin: 0px;
}

.card-body .form-input {
  width: 100%;
  padding: 10px;
  margin-top: 10px;
  margin-bottom: 10px;
  border: 1px solid rgb(29, 23, 23);
  border-radius: 5px;
  box-sizing: border-box;
}

.card-body .btn-primary {
  background-color: rgb(101, 170, 147);
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
}

.card-body .btn-primary:hover {
  background-color: rgb(75, 128, 110);
}

.comments-section {
  border: 2px solid rgb(29, 23, 23);
  border-radius: 5px;
  margin: 20px;
  background-color: rgb(192, 221, 211);
}

.comments-section h3 {
  font-size: 18px;
  margin-top: 0;
  font-weight: normal;
  background-color: rgb(29, 23, 23);
  color: rgb(101, 170, 147);
  padding: 10px;
  margin: 0px;
}

.comment {
  padding: 10px;
  padding-top: 10px;
}

.comment h4 {
  color: rgb(29, 23, 23);
  margin: 0px;
}

.comment p {
  color: rgb(29, 23, 23);
  font-style: italic;
  margin: 10px;
}


